.text-sm {
   font-size: 10px;
   line-height: normal;
}

.iti.iti--allow-dropdown {
   width: 100%;
}

.blurred {
   filter: blur(5px);
}

.none {
   display: none;
}

.font-small {
   font-size: small;
}
